.example-spacer {
    flex: 1 1 auto;
}

.Cabecera {
    background: #202C4C;
    color: #FFF;
    font-size: 2.5rem;
}

.Cabecera mat-toolbar-row {
    padding: 0 13%;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.BtnMenu mat-icon {
    font-size: 2.5rem;
    font-weight: bold;
}