.titulo{
    font-size: 1.5rem;
}
mat-card-title{
    position: relative;
}

.example-icon{
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    left: -10px;
    top: -5px;
    color: #202C4C;
}

mat-card{
    margin-top: 10px;
    text-align: center;
}

img{
    width: 100%;
    max-width: 100px;
    cursor: pointer;
}

.colum{
    margin: 10px;
    width: 90%;
    text-align: left;
    min-width: 200px;
    max-width: 300px;
    vertical-align: middle;
    display: inline-block;
}

.colum p{
 padding: 5px 0;
}

.centrado{
    text-align: center;
}
