.titulo{
    font-size: 2rem;
}

.column {
    display: inline-block;
    width: 90%;
    min-width: 200px;
    max-width: 300px;
    text-align: left;
    vertical-align: middle;
    padding: 5px;
}

.dataCol {
    display: block;
    /* width: 95%; */
    padding: 7px;
    min-width: 200px;
}

.tarjeta {
    background: #eee;
    text-align: center;
}

.btn {
    background: #202C4C;
    margin: 10px;
    color: #FFF;
    border-radius: 6px;
    
}
.centrado{
    text-align: center;
}