.example-icon{
    float: left;
    font-size: 2.5rem;
}

.example-spacer {
  flex: 1 1 auto;
}

img{
    max-width: 430px;
    position: relative;
}

.titulo{
    margin-left: 20px;
}

.cuadro{
    z-index: 2;
    width: 25px;
    height: 25px;
    position: absolute;
    background: green;
}

.imagen {
    width: 100%;
}