.tarjeta {
    background: #eee;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
}

.titulo{
    font-size: 2rem;
}

.example-icon {
  padding: 0 14px;
  font-size: 2rem;
}

.example-spacer {
  flex: 1 1 auto;
}

.tarjeta mat-card{
    margin: 10px 10px;
    width: 90%;
    max-width: 350px;
    min-width: 180px;
    display: inline-block;
    padding: 1% 2%;
}

.btn {
    background: #202C4C;
    color: #FFF;
    border-radius: 6px;
}