<header>
    <mat-toolbar class="Cabecera">
        <mat-toolbar-row>
            <button class="BtnMenu" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="example-spacer"></span>
            <h1>Almacen</h1>
            <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/pedido']">
                    <!-- <mat-icon>dialpad</mat-icon> -->
                    <span>Pedidos</span>
                </button>
                <!-- <button mat-menu-item>
                    <mat-icon>voicemail</mat-icon> 
                    <span>Ordenes</span>
                </button> -->
                <button mat-menu-item [routerLink]="['/stock']">
                    <!-- <mat-icon>notifications_off</mat-icon> -->
                    <span>Sock</span>
                </button>
                <!-- <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon> 
                    <span>Entregas</span>
                </button> -->
            </mat-menu>
        </mat-toolbar-row>

    </mat-toolbar>

</header>