<mat-card-header>
    <div>
        <mat-icon class="example-icon">send</mat-icon>
    </div>
    <!-- <span class="example-spacer"></span> -->
    <div class="titulo">
        <mat-card-title><strong>{{ data.codigo }}</strong></mat-card-title>
        <mat-card-subtitle>{{ data.cliente }}</mat-card-subtitle>
    </div>
</mat-card-header>
<mat-card-content>
    <p><strong>Fecha Pedido: </strong>{{ data.fechaPedido | date }}</p>
    <p><strong>Fecha de Entrega: </strong>{{ data.fechaEntrega | date }}</p>
    <p><strong>Monto: </strong>{{ data.monto | currency }}</p>
    <p><strong>Descripcion: </strong>{{ data.descripcion1 }} {{ data.descripcion2 }}</p>
</mat-card-content>


<mat-toolbar class="tarjeta" *ngFor="let producto of productos">
    <mat-toolbar-row>
        <span>{{ producto.codCliente }}</span>
        <span class="example-spacer"></span>
        <span>{{ producto.codigo }}</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span>{{ producto.nombre }}</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span>{{ producto.cantidad }} ({{ producto.prefijo }})</span>
        <span class="example-spacer"></span>
        <span>{{ producto.monto | currency }}</span>
    </mat-toolbar-row>

</mat-toolbar>
