<mat-card-title >
    <mat-icon class="example-icon">navigate_before</mat-icon>
    <span class="example-spacer"></span>
    <strong class="titulo">Distribución Pedido</strong>
</mat-card-title>
<mat-card *ngFor="let tienda of tiendas">
    <div class="colum">
        <p>
            <strong>No de Pedido: </strong> {{ codPedido }}
        </p>
        <p>
            <strong>Cod. tienda: </strong> {{ tienda.codigo }}
        </p>
        <p>
            <strong>Tienda: </strong> {{ tienda.nombre }}
        </p>
    </div>
    <div class="colum">
        <p>
            <strong>Cod. Cliente: </strong> {{ tienda.codCliente }}
        </p>
        <p>
            <strong>Cod. Producto: </strong> {{ tienda.codProd }}
        </p>
        <p>
            <strong>Cantidad: </strong> {{ tienda.cantidad }} {{ tienda.medida }}({{tienda.prefijo}})
        </p>
    </div>
    <div class="colum centrado">
        <img src="./assets/imgs/QR.png" alt="QR">
    </div>
</mat-card>