<mat-card-title>
    <strong class="titulo">Pedidos Pendientes</strong>
</mat-card-title>
<mat-card *ngFor="let pendiente of pendientes">
    <div class="column">
        <p class="dataCol"><strong>No de Pedido: </strong> {{ pendiente.codigo }}</p>
        <p class="dataCol"><strong>Cliente: </strong>{{ pendiente.cliente }}</p>
        <p class="dataCol"><strong>Fecha de entraga solicitada: </strong>{{ pendiente.fechaEntrega | date }}</p>
    </div>
    <div class="column">
        <p class="dataCol"><strong>Estatus: </strong>{{ pendiente.estado }}</p>
        <p class="dataCol"><strong>Monto: </strong>{{ pendiente.monto | currency}}</p>
    </div>
    <div class="column centrado">
        <button mat-raised-button class="btn" (click)="BtnDetalleClick(pendiente)">Ver Detalle</button>
        <br>
        <a mat-raised-button [routerLink]="['/pedido/tiendas', pendiente.id, pendiente.codigo]" class="btn">Ver Distribución</a>
    </div>
</mat-card>