<mat-card-header>
    <div>
        <mat-icon class="example-icon">layers</mat-icon>
    </div>
    <!-- <span class="example-spacer"></span> -->
    <div class="titulo">
        <mat-card-title>{{ data.nombre }}</mat-card-title>
        <mat-card-subtitle>{{ data.codigo }}</mat-card-subtitle>
    </div>
</mat-card-header>
<mat-card-content>
    <p><strong>Cod. Cliente: </strong>{{ data.codCliente }}</p>
    <p><strong>Cod. Proveedor: </strong>{{ data.codProveedor }}</p>
    <p><strong>Descripcion: </strong>{{ data.descripcion }}</p>
    <p><strong>Costo: </strong>{{ data.costo | currency }}</p>
    <p><strong>Cantidad: </strong>{{ data.cantidad }} {{ data.medida }}({{ data.prefijo }})</p>
</mat-card-content>
<div class="imagen">
    <span class="cuadro" id="cuadroUbic" #cuadroUbic [ngStyle]="coordenada"></span>
    <img mat-card-image [src]="'./assets/imgs/mapa2.PNG'" (load)="imageload($event, cuadroUbic)" id="mapa" alt="Mapa">
</div>