<mat-card class="tarjeta">
    <mat-card-title><strong class="titulo">Stock</strong></mat-card-title>
    <mat-card *ngFor="let producto of productos">
        <mat-toolbar style="background-color: #FFF;">
            <mat-toolbar-row>
                <span><strong>Producto: </strong>{{ producto.nombre }}</span>
                <span class="example-spacer"></span>
                <mat-icon class="example-icon">layers</mat-icon>
            </mat-toolbar-row>
        
            <mat-toolbar-row>
                <span><strong>Codigo Prod: </strong>{{ producto.codigo }}</span>
                <span class="example-spacer"></span>
            </mat-toolbar-row>
        
            <mat-toolbar-row>
                <span><strong>Catnidad: </strong>{{ producto.cantidad }} {{ producto.prefijo }}</span>
                <span class="example-spacer"></span>
                <button mat-raised-button class="btn" (click)="BtnDetalleClick(producto)" >Ver Detalle</button>
            </mat-toolbar-row>
        </mat-toolbar>

    </mat-card>
</mat-card>